* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

canvas {
  width: 100vw !important;
  height: 100vh !important;
}

body {
  background: radial-gradient(
    circle,
    rgb(83, 173, 241) 0%,
    rgb(12, 73, 187) 100%
  );
}

.ico-rotation {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ico-rotation img {
  display: block;
  object-fit: cover;
  width: 30px;
  height: 30px;
}

.cityName {
  border-radius: 12px;
  padding: 5px 20px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  white-space: nowrap;
  font-size: 16px;
}

.cityName::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 0;
  width: 0;
  border: 10px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.3);
  border-bottom: 0;
  border-left: 0;
  margin-left: -20px;
  margin-bottom: -10px;
}
